/* General Reset */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DynaPuff", serif;
  line-height: 1.9;
  color: #333;
}

/* Header */
header {
  background: #000;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
}

/* Navigation */
nav {
  background: #333;
  color: white;
  border-radius: 8px;
  margin: 2px 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  flex-wrap: wrap;
  padding: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

nav ul li a:hover {
  background: linear-gradient(90deg, #4a61e1, transparent) #c62752;
  color: #333;
  border-radius: 4px;
}

/* Main Content */
main {
  padding: 20px;
}

main section {
  margin-bottom: 30px;
}

main h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

main ul {
  list-style: disc;
  padding-left: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1em;
  }

  nav ul {
    justify-content: center;
  }

  main h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.8em;
  }

  header p {
    font-size: 0.9em;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }

  main h2 {
    font-size: 1.3em;
  }

  footer {
    font-size: 0.9em;
  }
}

/* Logo */
#logo {
  width: 60px;
  height: auto;
  display: block;
  position: absolute;
  cursor: pointer;
  border-radius: 100px;
}

#log {
  width: 35px;
  position: absolute;
  cursor: pointer;
}

/* Skills Section */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin: 20px auto;
  max-width: 1000px;
}

.skill-card {
  background-color: #1e1e1e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #f4f4f4;
}

.skill-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(74, 97, 225, 0.5), 0px 5px 10px rgba(198, 39, 82, 0.5);
}

/* About Section */
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 10px;
  color: #000;
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 1000px;
  gap: 5rem;
}

.about-photo {
  width: 230px;
  height: 230px;
  border-radius: 17%;
  border: 5px solid #ff7700;
  object-fit: cover;
}

.about-text {
  text-align: left;
}

.about-text h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 600px;
}

.about-text b {
  color: #ff7700;
  font-size: 2.5rem;
}

/* Contact Section */
#contact {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

form {
  background-color: #151414;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: left;
}

form label {
  color: #f4f4f4;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #282828;
  color: #ebabab;
  font-size: 1rem;
}

textarea {
  height: 90px;
}

/* From Uiverse.io by Navarog21 */ 
#submit {
  width: 10em;
  position: relative;
  height: 2.2em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#submit::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 35%;
  background-color: #151414;
  transition: 0.5s;
  transform-origin: center;
}

#submit::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 35%;
  background-color: #151414;
  transition: 0.5s;
}

#submit:hover::before, #submit:hover::after {
  transform: scale(0)
}

#submit:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}

/* Social Media */
.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  margin-top: 34rem;
}

.social-media a {
  margin-bottom: 10px;
}

.social-media img {
  width: 20px;
  height: 20px;
  border-radius: 10%;
}

/* Projects Section */
#projects {
  padding: 50px 20px;
  background-color: #f4f4f9;
  text-align: center;
}

#projects h2 {
  font-family: 'DynaPuff', sans-serif;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  text-align: left;
}

.project-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 16px;
  color: #555;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(74, 97, 225, 0.5);
}





/* From Uiverse.io by Praashoo7 */ 
.con {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-right: 27%;
  margin-top: 9%;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.cardg1 {
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  background: rgb(3, 3, 3);
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.cardg2 {
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.cardg3 {
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.cardg4 {
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  background: rgb(0, 0, 0);
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.cardg1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.cardg1:hover .instagram {
  fill: white;
}

.cardg2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.cardg2:hover .twitter {
  fill: white;
}

.cardg3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.cardg3:hover .github {
  fill: white;
}

.cardg4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.cardg4:hover .discord {
  fill: white;
}